@import "mixins/animation";

@include keyframes(slide)
{
	0%{
		left:0;
	}
	100%:
	{
		left:100%;
	}
}



.slide
	{
	@include prefix(animation, slide 5s infinite, (-webkit-,-moz-));
	position: absolute;
	background:red;width:150px;
}

// @-webkit-keyframes slide{
// 	0%{
// 		left:0;
// 	}
// 	100%:
// 	{
// 		left:100%;
// 	}
// }

@-webkit-keyframes fadeOut{
	0%{
		opacity:1;
	}
	100%:
	{
		opacity:0;
	}
}


